<a href="https://colab.research.google.com/github/wallisonferreira/data-science-tce/blob/main/aula_lambda_exceptions_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Syntax

lambda arguments : expression

In [1]:
x = lambda a : len(a)

print(x("Python Is"))

9

In [4]:
y = lambda num: 10 + num if num > 100 else 20 + num

print(y(101))

111

In [12]:
users = [
    {
        'id': 1,
        'age': 16,
        'name': 'Lil'
    },
    {
        'id': 1,
        'age': 16,
        'name': 'Sheron'
    },
    {
        'id': 2,
        'age': 21,
        'name': 'Karl'
    },
    {
        'id': 2,
        'age': 26,
        'name': 'Hannah'
    }
]

In [15]:
def users_over_27(user):
    return user['age'] > 27

filtered_users = filter(users_over_27, users)

# OR

filtered_users = filter(lambda user: user['age'] < 18, users)

print(list(filtered_users))
print(type(filtered_users))
print(filtered_users)

[{'id': 1, 'age': 16, 'name': 'Lil'}, {'id': 1, 'age': 16, 'name': 'Sheron'}]
<class 'filter'>
<filter object at 0x7f677e712650>

In [11]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [25]:
numero1 = 15
numero2 = 0

def divisao(numero1, numero2):
    try:
        return numero1/numero2
    except ZeroDivisionError:
        return "entre com um divisor maior do que zero"
    else:
        print(' Sem erros')
    finally:
        print(' Aqui sempre vai executar')

resultado = divisao(numero1,numero2)

print(resultado)

 Aqui sempre vai executar
entre com um divisor maior do que zero

In [28]:
try:
    print(3/0)
except ZeroDivisionError as e:
    print("entre com um divisor maior do que zero")
    print("motivo: ", e)
else:
    print(' Sem erros')
finally:
    print(' Aqui sempre vai executar')
print('Hi')

entre com um divisor maior do que zero
motivo:  division by zero
 Aqui sempre vai executar
Hi

### Lançando exceções

In [31]:
def func_eh_par(n):
    if n < 0:
        raise ValueError("Numero deve ser positivo ", n)
    if type(n) is not int:
        raise TypeError("Valor deve ser inteiro: ", n)
    return (n % 2 == 0)

numeros = [5, 6.5, -1, 6]

for num in numeros:
    try:
        print(str(num) + " é par?", end = " ")
        print(func_eh_par(num))
    except Exception as e:
        print(e)

5 é par? False
6.5 é par? ('Valor deve ser inteiro: ', 6.5)
-1 é par? ('Numero deve ser positivo ', -1)
6 é par? True

### Substituindo loops em Python

In [32]:
print ("-".join(["João","Maria","Jose"]))

João-Maria-Jose

In [35]:
from datetime import datetime

data_str = '24/10/2023'

data = datetime.strptime(data_str, '%d/%m/%Y')

estacoes_do_ano = [
    (datetime(data.year, 3, 20), datetime(data.year, 6, 20)), # primavera
    (datetime(data.year, 6, 21), datetime(data.year, 9, 22)), # verão
    (datetime(data.year, 9, 23), datetime(data.year, 12, 21)), # outono
    (datetime(data.year, 12, 22), datetime(data.year+1, 3, 19)) # inverno
]

print (estacoes_do_ano)
zip_estacoes  = zip(['Primavera', 'Verão', 'Outono', 'Inverno'], estacoes_do_ano)

[(datetime.datetime(2023, 3, 20, 0, 0), datetime.datetime(2023, 6, 20, 0, 0)), (datetime.datetime(2023, 6, 21, 0, 0), datetime.datetime(2023, 9, 22, 0, 0)), (datetime.datetime(2023, 9, 23, 0, 0), datetime.datetime(2023, 12, 21, 0, 0)), (datetime.datetime(2023, 12, 22, 0, 0), datetime.datetime(2024, 3, 19, 0, 0))]

In [36]:
'''
este código exibe para o usuário a estação em uma determinada data.
 A compreensão de lista é usada para iterar sobre as tuplas da lista 
 estacoes_do_ano e encontrar a estação do ano correspondente.
'''
# encontra a estação do ano a partir da data informada pelo usuário
lista_filtrada = [nome for nome, limites in zip_estacoes if limites[0] <= data <= limites[1]]
#estacao = lista_filtrada.pop()
estacao = lista_filtrada[0]

# exibe a estação do ano para o usuário
print("A estação do ano em", data_str, "é", estacao)

A estação do ano em 24/10/2023 é Outono